<tr>
    <td><%= sea_fish.name  %></td>
    <td><%= sea_fish.charac  %></td>
    <td><%= sea_fish.color  %></td>
    <td><%= sea_fish.size  %></td>
    <td><%= sea_fish.habit  %></td>
    <td><%= sea_fish.place  %></td>
    <td><%= link_to "Show this sea fish", sea_fish %></td>

</tr>